<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="chromecast reddit.com/r/video couch surfing app">
    <meta name="author" content="jrode">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="assets/img/icons/icon.png" sizes="196x196" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/icons/apple-touch-icon-57.png" sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/icons/apple-touch-icon-72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/icons/apple-touch-icon-114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/icons/apple-touch-icon-144.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/icons/apple-touch-icon-512.png" sizes="512x512" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/icons/apple-touch-icon-1024.png" sizes="1024x1024" />

    <title>circbendy</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/js/circbend.js"></script>

    <link rel="stylesheet" href="assets/css/style.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div class="wrap">

        <%- body %>

    </div><!--/.wrap-->

  </body>
</html>